---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div id="app">
      <div class="resizable-x">
        <div class="div0 overflow-hidden bg-red-200" style="flex: 50%;">
          <p>div 0</p>
        </div>
        <div class="resizer-x"></div>
        <div class="resizable-y" style="flex: 50%;">
          <div class="div1 overflow-hidden bg-blue-200" style="flex: 33.33%;">
            <p>div 1</p>
          </div>
          <div class="resizer-y"></div>
          <div class="div2 overflow-hidden bg-green-200" style="flex: 66.66%;">
            <p>div 2</p>
          </div>
        </div>
      </div>
    </div>
    <script src="../components/main.js"></script>
  </body>
</html>

<style>
  #app {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

  .resizable-x,
  .resizable-y {
    display: flex;
    overflow: hidden;
  }

  .resizable-x {
    height: 100%;
  }

  .resizable-y {
    flex-direction: column;
  }

  .resizer-x,
  .resizer-y {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    padding: 4px;
  }

  .resizer-x {
    z-index: 2;
    cursor: col-resize;
  }

  .resizer-x::before,
  .resizer-x::after {
    content: "";
    width: 2px;
    height: 16px;
    margin: 2px;
    background: lightgray;
  }

  .resizer-y {
    z-index: 1;
    cursor: row-resize;
    flex-direction: column;
  }

  .resizer-y::before,
  .resizer-y::after {
    content: "";
    width: 16px;
    height: 2px;
    margin: 2px;
    background: lightgray;
  }
</style>

<style is:global>
  html,
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
</style>
